git/2.38.1;cmake/3.23.1;other/mepo;other/tig/2.5.4;ImageMagick/7.1.0;git-lfs/3.2.0;other/gh;GEOSenv;comp/gcc/10.3.0;comp/intel/2021.6.0;mpi/impi/2021.6.0;python/GEOSpyD/Min4.11.0_py3.9_AND_Min4.8.3_py2.7
